
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Allow anyone to read or write to the database.
    // This is for development purposes only.
    // For production, you should secure your data.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
